body{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
    font-size: 60px;
}
.login-page{

    display: flex;
    width: 100%;
    height: 100vh;
    background-color: rgb(239, 239, 239);
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
input{
    width: 40%;
    padding:5px 5px 5px 30px;
    margin: 10px;
    color: black;
    font-size: 16.8px;
}
button{
    margin: 5px;
    width: 45%;
    padding: 5px;
    background-color: blue;
    color: white;
    border: 2px solid blue;
    font-size: 18px;
    font-weight: 900;
}
button:hover{
    background-color: rgba(0, 0, 255, 0.724);
}
.loader{
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    font-size: 60px;
    display: none;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#logmsg{
    font-size: 19px;
    margin: 10px;
}
    table { 
        width:100%; 
        border-collapse:collapse; 
        margin-top:20px;
     }
    th, td { 
        border:1px solid #ddd; 
        padding:10px; 
        text-align:left;
     }
    th {
         background:#007BFF; 
        color:white;
     }
   .filters { 
    margin:20px 0; 
    display:flex; 
    gap:10px;
 }
    select {
         padding:8px; 
        border-radius:5px;
         border:1px solid #ccc;
     }
     .container {
      max-width:1000px;
       margin:20px auto; 
      background:white;
      padding:20px; 
      border-radius:10px; 
      box-shadow:0 3px 10px rgba(0,0,0,0.1);
      display: none;
      flex-direction: column;
    }
    .tp{
        background-color: #ffff;
        width: 300px;
        height: 90px;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        box-shadow: 0px 0px 124px rgba(0, 0, 0, 0.2);
    }
    #totalCount{
        margin-left: 5px;
    }
    .dhed{
        text-align: center;
        font-size: 50px;
        color: #007BFF;
    }
    .alertmsg{
        top: 35%;
        z-index: 4;
        background-color: #ffffff;
        position: absolute;
        width: 90%;
       height: 280px;
       display: flex;
       flex-direction: column;
        justify-self: center;
        text-align: center;
        text-transform: capitalize;
        box-shadow: 10px 10px 100px rgba(0, 0, 0, 0.2);
     
    }
    .alertmsg p{
       width: 100%;
       text-align: center;
       font-size: 25px;
       
    }
    .crossbtn{
        list-style: none;
        text-decoration: none;
        right: 0%;
        font-size: 26px;   
       width: 25px;
        display: block;
        color: #ffffff;
    }
    .cross{
        background-color: #007BFF;
        display: flex;
        align-items:center ;
        justify-content: flex-end;
        cursor: pointer;
    }
    .alrtmaincont{
        padding: 0px 40px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    .tree{
        color: red;
        font-size: 21px;
    }
    footer{
        height: 30px;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #007BFF;
        color: #ffffff;
    }
    #tokeninp , #toenbtn{
        display: none;
    }
    .loading{
        height: 200px;
        width: 200px;
        border: 12px solid#e3e3e3;
        border-radius: 50%;
        border-right-color: #007BFF;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: spin 1s ease infinite;
    }
    .loading1{
        display: flex;
        justify-content: center;
        align-items: center;
         height: 150px;
        width: 150px;
        border: 12px solid#e3e3e3;
        border-radius: 50%;
        border-right-color: #d0ff73;
        animation: spin1 1s ease infinite;
    }
    .loading2{
        display: flex;
        justify-content: center;
        align-items: center;
         height: 100px;
        width: 100px;
        border: 12px solid#e3e3e3;
        border-radius: 50%;
        border-right-color: #73ff7c;
        animation: spin2 1s ease infinite;
    }
    .loading3{
        display: flex;
        justify-content: center;
        align-items: center;
         height: 50px;
        width: 50px;
        border: 12px solid#e3e3e3;
        border-radius: 50%;
        border-right-color: #ff0000;
        animation: spin3 1s ease infinite;
    }
   @keyframes spin {
    100%{
        transform: rotate(360deg);
    }
   }
   @keyframes spin1 {
    100%{
        transform: rotate(-180deg);
    }
   }
   @keyframes spin2 {
    100%{
        transform: rotate(360deg);
    }
   }
   @keyframes spin3 {
    100%{
        transform: rotate(-1800deg);
    }
   }
@media only screen and (max-width: 600px) {

    .alertmsg{
        height: 390px;
    }
  
}
